<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="<%= url("/styles.css") %>">
  </head>
  <body>
    <div id="cont1" class="monster-container">
      <img class="monster-image" src="/images/monster1.jpg" alt="">
      <h2><%= @player1 %>'s monster</h2>
    </div>
    <div id="cont2" class="monster-container">
      <img class="monster-image" src="/images/monster2.jpg" alt="">
      <h2><%= @player2 %>'s monster</h2>
    </div>
    <div class="action-container">
      <button type="button" name="button">Attack</button>
      <button type="button" name="button">Paralyse</button>
      <button type="button" name="button">Sleep</button>
      <button type="button" name="button">Poison</button>
      <button type="button" name="button">Heal</button>
    </div>
  </body>
</html>
